.Samples {
    font-family: sans-serif;
    padding-top: 20px;
  }
  
  table {
    width: 50%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  pre {
    margin: 0;
    white-space: pre-wrap; 
    text-align: left
  }
  
  p {
    margin: 0;
    padding-bottom: 20px;
  }
  